@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Velkommen til Contoso University</h2>
        <p>
            Contoso University er en applikasjon som 
            demonstrerer hvordan man bruker Entity Framework Core i en 
            ASP.NET Core MVC web applikasjon.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Bygg den fra bunnen av</h2>
        <p>Du kan bygge applikasjonen stegvis ved å følge en serie av opplæringsartikler.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Gå til opplæringen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Last ned</h2>
        <p>Du kan laste ned det ferdige prosjektet fra GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Gå til prosjektets kildekode &raquo;</a></p>
    </div>
</div>
