@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University Localized</h1>
</div>
<div class="row">
    <div>
        <h2>Velkommen til Contoso University</h2>
        <p>
            Contoso University er en applikasjon som 
            demonstrerer hvordan man bruker Entity Framework Core i en 
            ASP.NET Core MVC web applikasjon.
        </p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Bygg den fra bunnen av</h2>
            <p>Du kan bygge applikasjonen stegvis ved å følge en serie av opplæringsartikler.</p>
            <p><a target="_blank" class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Gå til opplæringen</a></p>
        </div>
        <div class="col-md-4">
            <h2>Flerspråklig</h2>
            <p>Her kan du få noen tips om hvordan du kan oversette asp.net applikasjoner til andre språk</p>
            <p><a target="_blank" class="btn btn-default" href="https://andrewlock.net/adding-localisation-to-an-asp-net-core-application/">Hvordan oversette</a></p>
        </div>
        <div class="col-md-4">
            <h2>Last ned</h2>
            <p>Du kan laste ned det ferdige prosjektet med oversettelser fra GitHub.</p>
            <p><a target="_blank" class="btn btn-default" href="https://github.com/Gammern/ContosoUniversityLocalized">Gå til prosjektets kildekode</a></p>
        </div>

    </div>
